body {
  font-family: Verdana;
  font-size: 9pt;
}

.tooltipTable {
  font-size: 9pt;
}

.userProfile {
  font-size: 40pt;
}

.projProfile {
  font-size: 40pt;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chart {
  position: absolute;
}

#tabs {
  font-size: 9pt;
  position: absolute;
  top: 0;
  left: 1010;
  width: 400;
  height: 460;
  display: none;
}

.tableView {
  font-size: 8pt;
  table-layout: fixed;
  width: 1160px;
}

.tableView td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#timeVolumeChart .pane {
  fill: none;
  pointer-events: all;
}

#controlPanel {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#tableView {
  font-size: 9pt;
  position: absolute;
  left: 270;
  top: 640;
  display: none;
}

#cobaltTableView {
  font-size: 9pt;
  position: absolute;
  left: 270;
  top: 640;
  display: none;
}

#machineView {
  font-size: 9pt;
}

#machineView .RBox {
  fill: none;
  stroke: black;
}

#machineView .RID {
  text-anchor: left;
  font-size: 6pt;
}

#machineView .RMNJText {
  text-anchor: middle;
  stroke: black;
  font-size: 0.1pt;
}

#machineView .QBox {
  fill: none;
  stroke: black;
}

#machineView .QID {
  text-anchor: left;
  font-size: 6pt;
}

#machineView .RMID {
  text-anchor: left;
  font-size: 3pt;
}

#machineView .nodeBoardID {
  text-anchor: middle;
  font-size: 0.5pt;
}

#machineView .RMBox {
  fill: none;
  stroke-width: 0.5;
  stroke: steelblue;
}

#machineView .RMNBox {
  fill: white;
  stroke-width: 0.25;
  stroke: steelblue;
}

#machineView .RBBox {
  fill: white;
  stroke-width: 0.25;
  stroke: steelblue;
}

#machineView .RKBox {
  fill: white;
  stroke-width: 0.25;
  stroke: steelblue;
}

#machineView .RLBox {
  fill: white;
  stroke-width: 0.25;
  stroke: steelblue;
}

#machineView .RMSBox {
  fill: white;
  stroke-width: 0.25;
  stroke: steelblue;
}

#machineView .RMNJBox {
  fill: white;
  stroke-width: 0.1;
  stroke: steelblue;
}

#machineView .RMNUBox {
  fill: white;
  stroke-width: 0.1;
  stroke: steelblue;
}

#machineView .RMNOBox {
  fill: white;
  stroke-width: 0.1;
  stroke: steelblue;
}

#machineView .RMNDBox {
  fill: white;
  stroke-width: 0.1;
  stroke: steelblue;
}

#machineView .QIBox {
  fill: white;
  stroke-width: 0.5;
  stroke: steelblue;
}

.torusLine {
  fill: none;
  stroke: steelblue;
}
